*{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

.contain{
    cursor: pointer;
}

.hand:hover{
    background-color: steelblue;
    color: #fff;
}

.hand{
    background-color: #ccc;
    padding: 20px 10px;
}

.hand.active{
    background-color: steelblue;
    color: #fff;
}

.text{
    padding: 10px 15px;
    text-indent: 25px;
}

.title{
    margin-bottom: 30px;
}

h3{
    margin-top: 15px;
}

#hand{
    display: none;
}
